{:deps {org.clojure/clojure {:mvn/version "1.12.5"}
        net.clojars.savya/cljgrapht {:mvn/version "0.1.3"}
        aysylu/loom {:mvn/version "1.0.2"}
        ubergraph/ubergraph {:mvn/version "0.9.0"}
        criterium/criterium {:mvn/version "0.4.6"}}}
